.block {
	position: relative;
	// margin: 15px;
	border: 1px #ccc solid;
	border-radius: 20px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px 20px;
	box-shadow: 0 0 20px rgba(255, 255, 0, 0.171);
	transition: all 0.5s;
	&:hover {
		box-shadow: 0 0 20px rgba(255, 255, 0, 0.548);
	}
}

.current__icon {
	position: absolute;
	top: 10px;
	right: 30px;
	width: 90px;
	height: 90px;
}
.suns-block {
	margin-top: 15px;
	padding: 15px 0;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	border: 1px #ccc solid;
	border-radius: 20px;
	box-shadow: 0 0 20px rgba(255, 255, 0, 0.171);
	transition: all 0.5s;
	&:hover {
		box-shadow: 0 0 20px rgba(255, 255, 0, 0.548);
	}
}
.suns {
	width: 80px;
}

.bottom-icon {
	width: 50px;
	height: 50px;
}

.bottom-nav {
	display: flex;
	flex-flow: column;

	&-block {
		width: 100%;
		margin-top: 15px;
		padding: 15px 0;
		display: flex;
		flex-flow: row;
		justify-content: space-around;
		border: 1px #ccc solid;
		border-radius: 20px;
		box-shadow: 0 0 20px rgba(255, 255, 0, 0.171);
		transition: all 0.5s;
		&:hover {
			box-shadow: 0 0 20px rgba(255, 255, 0, 0.548);
		}
	}
}
