.daily {
	margin-top: 15px;
	padding: 10px;
	border: 1px #ccc solid;
	border-radius: 20px;
	box-sizing: border-box;
	box-shadow: 0 0 20px rgba(255, 255, 0, 0.171);
	transition: all 0.5s;
	&:hover {
		box-shadow: 0 0 20px rgba(255, 255, 0, 0.548);
	}

	&__block {
		width: 100%;
		margin: 5px auto;
		padding: 0 10px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		border: 1px #ccc solid;
		border-radius: 20px;
		box-sizing: border-box;
	}

	&__icon {
		width: 50px;
	}
}
