.weather-icon {
	max-width: 100%;
}

.layout {
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 10px;

	&__row {
		width: 100%;
	}
}

.search-input {
	margin-bottom: 15px;
}

.current {
	display: flex;
	flex-flow: row;
}
