.container {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}

.Elemcontainer {
	padding: 10px;
	margin: 5px;
	display: flex;
	flex-flow: column nowrap;
	border: 1px solid #ccc;
	border-radius: 15px;
}

.Icon {
	color: red;
	font-size: 20px;
}
